.tabs {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 100%;

  padding-left: 340px;
  margin-bottom: 10px;

  display: flex;
  justify-content: left;
}
.tabs > div {
  min-width: 350px;
}
/* Whole List */
.tabs > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
/* List element */
.tabs > ul > li {
  padding: 8px 8px;
  border-radius: 10px;
}
.tabs > ul > li:hover {
  background-color: #f2f2f2;
}
/* Link in tab */
.tabs > ul > li > a {
  color: #323232;
  text-decoration: none;
  font-weight: 100;
}

/* general class */
.active-tab {
  color: #000000 !important;
  font-weight: bold !important;
}
.active-tab::after {
  content: '';
  display: block;
  background-color: rgb(248, 155, 101);
  height: 2px;
  width: calc(100% + 20px);
  position: relative;
  top: 19px;
  left: -7px;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: #d4d4d4;
}

@media (max-width: 1024px) {
  .tabs {
    padding-left: 0;
    justify-content: center;
  }
  .tabs > ul {
    gap: 4vw;
    margin-top: 20px;
  }
}

@media (max-width: 510px) {
  .tabs {
    min-width: var(--min-width);
  }
  .tabs > ul {
    font-size: 14px;
    gap: 2vw;
  }
}
